body, html {
    height: 100%;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(to right, #000428, #004e92);
    color: white;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    width: 360px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    
}

.login-logo {
    text-align: center;
    font-weight: 800;
    color: #202020;
    margin-bottom: 20px;
}

.login-logo span {
    color: #7130e9;
}

.card {
    background: transparent;
    border: none;
}

.card-body {
    padding: 0;
}

.login-box-msg {
    margin: 0;
    padding: 0 0 20px;
    font-size: 1.1em;
    text-align: center;
}

.form-control {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    border-radius: 5px;
    margin: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
}

.form-control:focus {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.5);
}

.input-group-text {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    padding: 0.2rem;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;

}


.input-group-prepend,
.input-group-append {
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
}

.icheck-primary {
    color: white;
}

.icheck-primary label {
    margin-left: 5px;
    width: calc(100% - 25px);
    text-align: center;
}

.icheck-primary input[type="checkbox"] {
    margin-right: 5px;
}

.btn {
    background-color: #7130e9;
    color: white;
    border: none;
    font-family: 'Kanit', sans-serif;
}

.btn:hover {
    background-color: #5828b4;
}

.login-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
}

.login-footer a {
    color: white;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}